<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk>
	<window id="winFonction"
		apply="sn.innov.web.parametrage.controllers.TransactionsListController">
		<borderlayout width="100%" height="500px">
			<center>
			 <panel title="Utilisateurs" sclass="panel-primary">
			<panelchildren>
 				<space></space>
				<vbox>
					<listbox mold="paging" pageSize="10"  id="listTransactions" >
						<listhead>
							<listheader label="Id"/>
							<listheader label="Date Transaction"/>
							<listheader label="Type"/>
 							<listheader label="Client"/>
							<listheader label="Citizen"/>
							<listheader label="Montant"/>
							<listheader label="Statut"/>
   						</listhead>
						<template name="model">
							<listitem >
								<listcell label="${each.transaction.id}"/>
								<listcell label="${each.transaction.dateDebut}"/>
								<listcell label="${each.transaction.type.code}"/>
								<listcell label="${each.transaction.client.id}"/>
								<listcell label="${each.transaction.citizen.id}"/>
 							    <listcell label="${each.principal}"/>
 							    <listcell label="${each.transaction.statut}"/>
							</listitem>
						</template>
					</listbox>
				</vbox>
				</panelchildren>
				</panel>
			</center>
		</borderlayout>	
	</window>
</zk>