<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk>
	<window 		apply="sn.innov.web.workflow.controllers.ParamWorkflowController">
		<borderlayout width="100%" height="600px">
 
			<center>
			 <panel title="Parametrage Workflow" sclass="panel-primary">
			<panelchildren>
				 <actionbar>
					<actionbutton action="CREER_PARAM_WORKFLOW" hideMode="disable"
						label="Ajouter" image="/images/add.png" />
					<space/>
					<actionbutton action="MODIFIER_PARAM_WORKFLOW" hideMode="disable"
						label="Modifier"  image="/images/disk.png" />
					<space/>
					<actionbutton action="SUPPRIMER_PARAM_WORKFLOW" hideMode="disable"
						label="Supprimer"  image="/images/delete.png"  />
					<space/>
				</actionbar>
				<vbox >
					<listbox mold="paging" pageSize="8"  id="listEtats" >
						<listhead>
							<listheader label="Id" width="50px"/>
							<listheader label="Etat Initial"/>
							<listheader label="Traitement"/>
							<listheader label="Etat Final"/>
 						</listhead>
						<template name="model">
							<listitem >
								<listcell label="${each.id}"/>
								<listcell label="${each.etatInit.description}"/>
								<listcell label="${each.traitement.description}"/>
								<listcell label="${each.etatFinal.description}"/>
							</listitem>
						</template>
					</listbox>
				</vbox>
				</panelchildren>
				</panel>
			</center>
		</borderlayout>
		</window>
</zk>